openai
python-dotenv
jupyterlab
ipywidgets
gradio
anthropic
google.generativeai
langchain
langchain-openai
langchain_chroma
langchain-community
faiss-cpu
scikit-learn
chromadb
plotly
numpy
pandas
matplotlib
setuptools
scipy
speedtest-cli